/*
gold_ #E8B03B
blue_ #0693C0
red_ #C93354
black_ #252930
orange_ #F89F49
*/

/*
credit for the secret message to CS161
http://www-inst.eecs.berkeley.edu/~cs161/sp16/
*/

#secret-message {
	color: red
}

._blue {
	background-color: #0693C0;
}

._gold {
	background-color: #E8B03B;
}

._photo {
	background-color: #53BEA0;
}

._video {
	background-color: #F89F49;
}

._web {
	background-color: #C77CB6;
}

._product {
	background-color: #F1446C;
}

p {
	font-family: 'Open Sans';
	color: white;
	font-size: 15px;
}

h3 {
	font-family: 'Montserrat';
	font-size: 18px;
	font-weight: normal;
	color: white;
}

a {
	font-family: 'Open Sans';
	color: white;
	font-size: 15px;
}

html {
    background-color: #252930;
}

.topSpacing {
	margin-top: 175px;
}

.logo {
	height: 8%;
	width: 8%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
}


.circle {
	display: inline-block;
	width: 125px;
	height: 125px;
	border-radius: 50%;
	font-size: 17px;
	line-height: 125px;
	text-align: center;
	font-family: 'Montserrat';
	text-decoration: none;
	color: white;
}

.first {
	margin-right: 75px;
}

.third {
	margin-left: 75px;
}

.circle:hover {
	text-decoration: underline;
}

.centeredContainer {
	padding-top: 50px;
    width: 50%;
	text-align: center;
	margin: 0 auto;
}
